#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.btn-container button:hover {
  cursor: pointer;
}

table {
  margin: 0 auto;
}
